# LLM & Embeddings
langchain==0.3.7
langchain-google-genai==2.0.5
langchain-openai==0.2.6
langchain-community==0.3.7

# LangGraph (agent)
langgraph==0.2.39

# Vector store
faiss-cpu==1.8.0

# PDF loading
pymupdf==1.24.11

# API
fastapi==0.115.4
uvicorn==0.32.0
pydantic==2.9.2

# UI
streamlit==1.40.1

# Evaluation
ragas==0.2.6
datasets==3.1.0

# Utilities
python-dotenv==1.0.1
loguru==0.7.2

# Dev tools
pytest==8.3.3

# for web scraping

beautifulsoup4==4.12.3